RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [L]

ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
IndexIgnore *.png *.html *.php *.gif *.ico
Options -Indexes 