.video-result-container{
	width: 100%;
	column-count: 7;
  column-gap: 10px;
	padding: 9px;
	height: auto;
}

.video-result-container a{
	text-decoration: none;
}
.video-card-parent{
	display:inline-block;
	width: 100%;
	margin-bottom: 10px;
/* 	border: 1px solid #000; */
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15) !important;
}
.video-card-parent:hover{
	cursor: pointer;
	border: 1px solid #888;
}
.video-card-parent .thumb-and-duration-div{
	width: 100%;
	position: relative;
}
.thumb-and-duration-div .thumb-div{
	width: 100%;
}
.thumb-and-duration-div .thumb-div img{
	width: 100%;
}
.thumb-and-duration-div span{
	position: absolute;
	bottom: 3%;
	right: 2%;
	transform: translate(-2%,-3%);
	color: #fff;
	font-size: 14px;
	padding: 2px 5px;
	background: rgb(0,0,0, 0.5);
	border-radius: 5px;
	font-weight: bold;
}
.video-card-parent .video-title-div{
/* 	background: red; */
	margin: 5px 8px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.upload-time-and-views-count-div{
	display: grid;
	grid-template-columns: auto auto;
	margin: 6px 8px;
	color: #777;
	font-size: 14px;
/* 	background: yellow; */
}
.upload-time-and-views-count-div .upload-time{
	text-align: left;
}
.upload-time-and-views-count-div .total-views{
	text-align: right;
	padding-right: 5px;
}
.video-card-parent .host{
	width: 100%;
	margin: 5px 8px 8px 8px;
	font-size: 16px;
	color: green;
}