@media only screen and (max-width: 1500px) {
  .video-result-container{
    column-count: 6;
    column-gap: 6px;
    padding: 6px;
  }
}
@media only screen and (max-width: 1290px) {
  .video-result-container{
    column-count: 5;
    column-gap: 6px;
    padding: 6px;
  }
}
@media only screen and (max-width: 1000px) {
 .video-result-container{
    column-count: 4;
    column-gap: 6px;
    padding: 6px;
  }
}
@media only screen and (max-width: 820px) {
  .video-result-container{
    column-count: 3;
    column-gap: 6px;
    padding: 6px;
  }
}
@media only screen and (max-width: 695px) {
  .video-result-container{
    column-count: 3;
    column-gap: 6px;
    padding: 6px;
  }
  .image-result-container .image-size-div{
    opacity: 0.5 !important;
  }
}
@media only screen and (max-width: 600px) {
  .video-result-container{
    column-count: 2;
    column-gap: 6px;
    padding: 6px;
  }
}
@media only screen and (max-width: 390px) {
  .video-result-container{
    column-count: 1;
    column-gap: 6px;
    padding: 0px 10px;
  }
}